.navbar div{
    display: flex;
    width: 100%;
    margin: 10px 20px;
    color: #fff;
    justify-content: flex-start;
}
.navbar div:hover{
    cursor: pointer;
}
.navbar div span{
    margin-left: 10px;
}
.navbar h2{
    text-align: center;
    color: #fff;
}
.navbar hr{
    width: 95%;
    border: 1px solid rgb(82, 82, 82);
}
.navbar div span{
    font-size: 0.875rem;
    line-height: 1.25rem;
}